
// * colors
$application-background-light: #ffffff;
$border-color-dark: #d9d9d9 $border #b3b3b3;
$poor: #ff7da5;
$dark-30: what;

&.danger {
  color: $text-dark;
  border: 1px solid $warm-pink;
  background-color: $warm-pink;
}


// * extends
.what {
  @extend .large;
}

.errorPage {
  @extend %page-index;
  display: flex;
}

export const componentInputDefaults = css`
  @extend %component-defaults;
`



// * components
// redundant test
$height-default: 34px;
$height-default: 34px;
$height-default: 34px;
$height-default: 34px;
// normal test
$height-large: 48px;
$height-x-large: 64px;
$height-navbar: 70px;
$margin-default: 2px;
$margin-large: 2px;
$margin-x-large: 2px;
$font-size-x-small: 10px;
$font-size-small: 12px;
$font-size-default: 14px;
$font-size-large: 16px;
$font-size-x-large: 18px;
$font-weight-default: 400;
$font-weight-large: 500;
$font-weight-x-large: 500;
$font-weight-bold-default: 600;
$font-weight-bold-large: 600;
$font-weight-bold-x-large: 600;
$border-radius-default: 4px;
$border-radius-large: 4px;
$border-radius-x-large: 6px;
$box-shadow-default: none;
$box-shadow-large: 0 2px 4px 0 rgba(81, 99, 120, 0.2);
$box-shadow-x-large: 0 2px 4px 0 rgba(81, 99, 120, 0.3);
$transition-default: all 0.18s ease-in-out;

$navbar-height: 70px;
$navbar-header-font-size: 18px;
$navbar-header-width: 256px;
$navbar-header-narrow-width: 200px;
$navbar-profile-width: 240px;

$dropdown-padding-vertical: 20px;
$dropdown-item-padding: 0 30px;




// * mixins
hey {
  // this shouldn't be changed
  border-radius: 30px;
  // it should be changed, not unwrap(but ths has been changed before)
  @include border-radius($border-radius-default);

  // unwrap second argument test
  @include border-radius(${bordeRadiusDefault});
}

// wrap with '' 
 @include border-radius(0.2em);



// * local declarations 

// change below
$vertical-margin: 20px;
$default-check-padding: 2em;
$default-check-border-radius: 2rem;
$default-margin-between-check-and-content: 8px;

// * local variables

// ! don't change coz not in `declared[]`
&.danger {
  color: $vertical-mar324-123;
  border: 1px solid $default-check-pa1234dding-412;
  background-color: $default-check-borqefewder-radius-123;
}
// change
&.danger {
  color: $vertical-margin;
  border: 1px solid $default-check-padding;
  background-color: $default-check-border-radius;
}